services:
  datensenke:
    build: .
    env_file: .env
    volumes:
      - /home/u544939/.ssh/id_rsa:/ssh/id_rsa:ro
    networks:
      - aibox_network

networks:
  aibox_network:
    external: true
